
<div [ngClass]="className" id="BEHOSTWRAPPER">
    <div class="one-third">
      
      <h2><span class="number">1</span>SPECIFY DISH<img id="choose-dish" src="assets/images/serving-dish.png" width="50"></h2>
      <p>Set up a dish you are knowledgeable about, including ingredients & cooking time</p>
    </div>
    <div class="one-third">
        
      <h2><span class="number">2</span>SET UP EVENT<img id="create-event" src="assets/images/event-calendar.png" width="45"></h2>
        <p>Specify date, time and location for your cooking evening</p>
    </div>
    <div class="one-third">
      
      <h2><span class="number">3</span>COOK WITH GUESTS<img id="cookwguests" src="assets/images/cooking.png" width="55"></h2>
        <p>Cook your delicious dish with your guest</p>
    </div>
  </div>