<div id="BEHOSTWRAPPER">
  <div class="one-third">
    
    <h2><span class="number">1</span>CHOOSE DISH<img id="choose-dish" src="images/serving-dish.png" width="50"></h2>
    <p>Set up a dish you are knowledgeable about</p>
  </div>
  <div class="one-third">
      
    <h2><span class="number">2</span>SIGN UP FOR HOST<img id="create-event" src="images/event-calendar.png" width="45"></h2>
      <p>Sign up for your favourite dish and see who will be attending your cooking event </p>
  </div>
  <div class="one-third">
    
    <h2><span class="number">3</span>GO & COOK<img id="cookwguests" src="images/cooking.png" width="55"></h2>
      <p>Learn to cook your dish with other co-cookers in a relaxed social round</p>
  </div>
</div>