
#userdata-wrapper{ margin-top: 100px;  }

input{ line-height : 50px ; margin-top:  10px ; margin-bottom: 10px; height: 40px; padding-left: 10px; padding-right: 10px;  }
textarea { height: 200px; padding-left: 10px; padding-right: 10px ; padding-top: 10px; }
//input[type=checkbox]#workshop:after{ content: 'workshop'; .size( 100px ); .font( 16px; ); position: absolute; left: 25px; top: -6px; .c( @white ) }
//input[type=checkbox]#privateclasses:after{ content: 'private classes'; .size( 140px ); .font( 16px; ); position: absolute; left: 25px; top: -6px; .c( @white ) }
//input[type=checkbox]#tedtalk:after{ content: 'tedtalk'; .size( 100px ); .font( 16px; ); position: absolute; left: 25px; top: -6px; .c( @white ) }
//#category{ .mt( 45px ); .mb( 30px ) }
button{ width: 100px ; margin-top: 30px ; padding:  10px 15px 10px 15px ; background-color:#D10D27; color: #ffffff;  border-radius:  5px ; display: block; }
