  <div class="container">
        
          <div id="profilewrapper" class="row">
              
               <div class="profiledata col-md-6">
                 <div class="profileimage" [ngStyle]="{'background-image':'url('+ user.image +')'}"></div>
                                           
                  <h1 class="username" *ngIf="user.username">{{user.username}}</h1>
                
                  <div class="review-overall-title" *ngIf="reviewsExist === true">{{overallRating}} positive Ratings</div>
                  <div class="star-ratings overall">
                      <div id="overallrating" class="star-ratings-top"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                      <div class="star-ratings-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                  </div>
                  <hr>
                  <p *ngIf="user.description"><span class="aboutme">About me </span> {{user.description}}</p>
                  <hr>
                  <p *ngIf="user.age"> <span class="age">I am </span> <span class="userage"> {{user.age}}&nbsp;years old</span></p>
                  <hr>
                  <p *ngIf="user.city"><span class="city">I live in </span> {{user.city}}</p>
                  <hr>
                </div>
        
                <div class="reviews-wrapper col-md-6">
                   
                    <div *ngFor="let review of reviews; let i = index; let last = last">
                      <div class="star-ratings individual">
                          <div><span class="myrating">{{ review.rating }} %</span> positive experience</div>  
                          <!--<div id="review{{i}}" class="star-ratings-top"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                          <div class="star-ratings-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>-->
                      </div>
                      <div>
                        <hr>
                        <p class="review-title">{{ review.title }}</p>
                        <p class="review-text"> {{ review.comment }}</p>
                        <hr>
                      </div>
                    </div>

                </div>
              
            </div>
            <div *ngIf="events">
              <h4 class="events-header">Events hosted by {{ user.username }}</h4>
              
              <div class="EVENTSWRAPPER row col-md-12">
                   
                        <div *ngFor="let event of events" class="eventwrapper col-md-5">
                            
                                <img class="eventimage" src="{{event.image}}">
                                <p class="shortinfo"><span class="star-event">★&nbsp;</span>Hosted by &nbsp;<span class="username-thick">{{user.username}}&nbsp;</span>in {{event.city}}</p>
                                <p *ngIf="event.title" class="eventtitle">{{event.title}}</p>
                                <hr>
                                <p *ngIf="event.description" class="event-description">{{event.description}}</p>
                                <p *ngIf="event.contribution" class="event-price">{{event.contribution}}&nbsp;€</p>
                            
                        </div>
              
                   
                </div>
            </div>
        </div>
        
  
