
div, p, h5, h4, h3{ font-family: "Duru Sans"; }

 // ** MENU ICON FOR MOBILE ** //

#profilewrapper{ margin-top: 50px; }
#profilewrapper hr{ margin-top: 15px; margin-bottom: 15px }

.profileimage {
    float: left;
    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    overflow: hidden;
    height:200px;
    width:200px;
    background-size:cover;
    background-position:center center;
}

.profiledata p       { font-size: 16px; font-style: normal }
.username            { text-transform: uppercase; font-family: "Duru Sans"; font-style: normal; font-size: 34px; margin-top: 40px; margin-bottom: 20px; }
.review-overall-title{ font-size: 18px; font-weight: bold; }
.aboutme             { font-family: "Dorsa"; font-style: normal; font-weight: bold; font-size: 40px; line-height: 32px; letter-spacing: 1px; }
.age                 { font-family: "Dorsa"; font-style: normal; font-weight: bold; font-size: 40px; line-height: 32px; letter-spacing: 1px;}
.city                { font-family: "Dorsa"; font-style: normal; font-weight: bold; font-size: 40px; line-height: 32px; letter-spacing: 1px;}

.reviews-wrapper     { margin: 0; }
.review-title        { font-size: 18px; font-weight: bold; line-height: 36px; }
.review-text         { font-size: 13px; margin-bottom: 40px } 
.username-thick      { text-transform: uppercase; }
.star-event          { font-size: 16px; color:  #E71B1B }
.events-header       { text-align: center; font-size: 24px; margin-top: 80px; margin-bottom: 30px; }
.myrating            { color: #e7711b; }


.star-ratings.overall{
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 125px;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
    margin-bottom: 40px;  
}
.star-ratings.overall .star-ratings-top {
    
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .star-ratings.overall .star-ratings-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }

  .star-ratings.individual{
    position: relative;
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 20px;
    height: 20px;
    width: 100%;
    position: relative;
    padding: 0;
    
    
}
.star-ratings.individual .star-ratings-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }

  .star-ratings.individual .star-ratings-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }

.EVENTSWRAPPER{
    text-align: left;
}

.EVENTSWRAPPER h4{
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.eventwrapper{
    border-color: #EEE;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0 3px 0 #EEE;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.eventwrapper .eventimage{
    width: 100%
}

.eventwrapper .user-img-sm{

    border-radius: 50%;
    border-color: #fff;
    border-style: solid;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.eventwrapper .shortinfo{ 
    margin-left: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.eventwrapper .eventtitle{
    text-transform: uppercase;
    font-size: 24px;
    padding: 15px 20px 25px 20px;

}
.eventwrapper .event-description{
    padding: 20px 20px 10px 20px;
     

}
.eventwrapper .review{ font-size: 20px; }


.eventwrapper .event-price{ font-size: 22px; text-align:right; padding: 20px; }
hr{ background-color: #EEE; }


.pics {
    /* Prevent vertical gaps */
    line-height: 0;
     
    -webkit-column-count: 5;
    -webkit-column-gap:   0px;
    -moz-column-count:    5;
    -moz-column-gap:      0px;
    column-count:         5;
    column-gap:           0px;  
  }
  
.pics img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }


  @media (max-width: 800px) {
    .container{
        text-align:center;
    }
    .profileimage{
        float: none;
    }
    .profilewrapper, .eventwrapper,{
        display: block;
        width: 100%!important
    }
    .reviews-wrapper {
        display: block;
        width: 100%!important;
        margin-top: 50px;
    }
      .age, .city, .aboutme{
        display:block;
        width: 100%!important;
        margin-top: 40px;
        margin-bottom: 20px;

    }

}


