<h2>
Add new event
</h2>
  
<hr>   
<div class="form-wrapper col-md-4 col-sm-6 col-xs-8">
  <form (ngSubmit)="submitForm(myForm)" #myForm="ngForm">
    <input  value="" type="text" name="title" placeholder="Dish title" [(ngModel)]="event.title">
<!--     <textarea type="textarea" name="description" placeholder="Something about the dish or the dinner" [(ngModel)]="event.description"></textarea>
    <textarea type="textarea" name="recipe" placeholder="A few words about the recipe" [(ngModel)]="event.recipe"></textarea>  
    <label for="cookingTime">Time cooking in minutes:</label>    
    <input value="" type="number" name="cookingTime" placeholder="Time cooking in minutes" [(ngModel)]="event.cookingTime">  -->   
    <input type="file" name="file" ng2FileSelect [uploader]="uploader" />    
  <!--   <label for="time">Time:</label>    
    <input value="" type="time" name="time" [(ngModel)]="event.time" placeholder="Time">
    <label for="Date">Date:</label>    
    <input value="" type="date" name="date" [(ngModel)]="event.date" placeholder="Date">
    <label for="contribution">Contribution to cover costs:</label>
    <input value="" type="number" name="contribution" placeholder="Contribution to cover costs" [(ngModel)]="event.contribution">
    <input id="location" value="" type="text" name="address" placeholder="Location" (ngChange)="addLatLong()" [(ngModel)]="event.address"> -->
    <button type="submit">SAVE</button>
  </form>
</div>

