.wrapper{
    display: flex;;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#userdata-wrapper{ margin-top: 100px; font-family: "Duru Sans"; }
h2{ width:100%;margin:20px;}
h3{ font-family: "Dorsa"; font-size: 46px; letter-spacing: 2px}
h4{ font-family: "Duru Sans"; font-size: 18px; margin-top: 40px; margin-bottom: 20px}
p{  margin-top: 15px; margin-bottom: 6px; font-size: 15px; }
input{ font-size: 15px; line-height : 50px ; margin-top:  10px ; margin-bottom: 10px; height: 55px; padding-left: 10px; padding-right: 10px;  }
textarea { font-size: 15px; height: 200px; padding-left: 10px; padding-right: 10px ; padding-top: 10px; }

button{ width: 140px ; margin-top: 10px ; padding:  10px 15px 10px 15px ; background-color:#D10D27; color: #ffffff;  border-radius:  5px ; display: block; margin-bottom:40px;}

  .block{
    width:200px;
    position:relative;
    clear:both;
    margin:0 0 25px;
   
  }
  .date-value{
    padding:5px 10px;
    background:#c0d6f9;
    margin-top:0px;
    display: block;
    width:100%;
  }
  .block input{
    display:none;  
  }
  span{
    text-transform:uppercase;
    font-family:'Duru Sans', sans-serif;
    font-weight:bold;
    letter-spacing:1px;
    font-size:12px;
    float:right;
    width:100px;
    margin:15px 0 0;
  }
  
  label{
    margin-top:     5px;
    margin-bottom:  5px;
    width:80px;
    height:40px;
    box-sizing:border-box;
    border:1px solid;
    border-radius:80px;
    position:relative;
    cursor:pointer;
    transition:.3s ease;
  }
  label.checked{
    background: #D10D27;
  }
 
  label:before{
    transition:.3s ease;
    content:'';
    width:30px;
    height:30px;
    position:absolute;
    background:white;
    left:2px;
    top:3px;
    box-sizing:border-box;
    border:1px solid;
    color:black; 
    border-radius:100px;
  }
  label.checked:before{
    left: 43px;
  }

.alert{
  margin-top: 20px !important;
  display: block;
  text-align: center;
}

.event-image{
    margin: 20px auto;
    width: 400px;
    float: none;
    height: auto;
    text-align: center;
    display: block;
}






