
#HERO{
   
            margin: 50px 0 0 0;
            #imgwrapper{
              width: 60%;
              img { width:  95% ; margin-left:  5% ; }
              padding-bottom:  0 ;  display: inline-block; box-sizing: border-box;
    
            }
    
    }