<div id="CHOOSEWRAPPER">
  <div id="guestwrapper">
    <div class="inner">
      <h3><img src="/assets/images/chili1.png" width="60">&nbsp;Cook as guest</h3>
      <hr>
      <p>Learn to cook a dish in a social round of co-cookers</p>
      <button (click)="toggleGuest()">Learn more</button>
    </div>
  </div>
  <div id="hostwrapper">
    <div class="inner"> 
        <h3>Cook as host&nbsp;<img src="/assets/images/chef.png" width="50"></h3>
        <hr>
        <p>Show how to cook your favourite dish </p>
        <button (click)="toggleHost()">Learn more</button>
    </div>
  </div>
</div>