<header>
  <div id="MENUWRAPPER">
    <a *ngIf="this.session.loggedIn" class="button profile" [routerLink]="['/profile']">My profile</a>
    <a class="button signup" [routerLink]="['/signup']">Join us</a>
    <a *ngIf="!this.session.loggedIn" class="button login" [routerLink]="['/login']">Log in</a>
    <a *ngIf="this.session.loggedIn"  class="button logout" [routerLink]="['/logout']">Log out</a>
    <a class="events" [routerLink]="['/events']">Find Events</a>
    <a class="behost" [routerLink]="['events/create']">Create event</a>
  </div>
  <div id="menu-png"><img (click)="toggleMenu" src="assets/images/menu.png" width="30"></div>
  <div id="mobile-menu">
    
      <a *ngIf="!this.session.loggedIn" [routerLink]="['/login']">Login</a>
      <hr>
      <a *ngIf="this.session.loggedIn" [routerLink]="['/logout']">Logout</a>
      <hr>
      <a *ngIf="this.session.loggedIn" [routerLink]="['/profile']">Profile</a>
      <hr>
      <a [routerLink]="['/signup']">Signup</a>  
      <hr>    
      <a [routerLink]="['/events']">Find Events</a>
      <hr>
      <a [routerLink]="['events/create']">Create Event</a>

  </div>
</header>