<div id="BEGUESTWRAPPER">
  <div class="findDish one-third">
   
    <h2><span class="number">1</span>FIND DISH<img id="friedegg" src="images/fried-egg.png" width="50"></h2>
    <p>Browse through dishes & find your favourite one</p>
  </div>
  <div class="findHost one-third">
     
    <h2><span class="number">2</span>SIGN UP FOR HOST<img id="chefcooking" src="images/chefcooking.png" width="55"></h2>
      <p>Sign up for your favourite dish and see who will be attending your cooking event </p>
  </div>
  <div class="tools one-third">
   
    <h2><span class="number">3</span>GO & COOK<img id="tools" src="images/tools-blue.png" width="55"></h2>
      <p>Learn to cook your dish with other co-cookers in a relaxed social round</p>
  </div>
</div>


