<div class="eventDetail">
  <div class="event-header" [ngStyle]="{'background-image': 'url(' + event.image + ')'}">
      <h1> {{event.title}}</h1> 
  </div>

  <div class="event-body container container-fluid">

    <div class="event-details-wrapper col-md-8 col-sm-8 col-xs-1">
      <div class="event-detail">
          <p *ngIf="host._id == userID">
            <a class="edit-event" [routerLink]="['/events/update', event._id ]"><i class="fa fa-pencil"></i></a>
            <br>
          </p>
          <p>
            {{event.description}}
          </p>
        <hr>
        <h4>Recipe:</h4>
          <p>{{event.recipe}}</p>
        <h4>Address:</h4>
          <agm-map [zoom]="15" class="location-map" [latitude]="event.location_lat" [longitude]="event.location_lng">
              <agm-marker [latitude]="event.location_lat" [longitude]="event.location_lng"></agm-marker>
          </agm-map>

          <h4>Comments:</h4>
          
          <div class="comments-list">
            <div class="comment" *ngFor="let comment of event.comments">
              <event-comment-item [comment]="comment"></event-comment-item>
            </div>
          </div>

          <event-comment-form (addCommentEvent)="addComment($event)"></event-comment-form>

      </div>
    </div>
  
    <div class="box-right join-wrapper col-md-4 col-sm-4 col-xs-1">
      <div class="join">
        <img class="host-image" src="{{host.image}}"><h5><a [routerLink]="['/host', host._id ]">{{host.username}}</a></h5>
        <p class="description">{{host.description}}</p>
        <hr>
        <p class="date">{{event.date | date:"dd/MM/yyyy"}}</p>
        <time>{{event.date | date: "HH:mm"}}</time>
        
        <p><i class="fa fa-map-marker"></i> {{event.address}}</p>
        <p><i class="fa fa-money"></i> {{event.contribution}} €</p>
        
        <div *ngIf="userID !== event._host">  
          <hr>
            
          <button (click)="subscribeUser()" *ngIf="!isJoined && event.places > 0" class="join">Join | {{event.places}}</button>
          <button (click)="desubscribeUser()" *ngIf="isJoined" class="disjoin">Disjoin</button>
        </div>
      
      </div>
    </div>

    <div class="box-right col-md-4 col-sm-4 col-xs-1">
      <div class="people-joined">
        <h4>People Joined</h4>
        <hr>
        <div *ngIf="allGuests.length < 1">
          No users joined
        </div>
        <div *ngFor="let guest of allGuests">
          <img class="host-image" src="{{guest.image}}"><h5>{{guest.username}}</h5>

        </div>

      </div>
    </div>

  </div>
 

</div>

