<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
      <form class="form-control" (ngSubmit)="submitSignup()" #myForm="ngForm">
        <input type="text" class="form-control" name="username"  placeholder="username" [(ngModel)]="user.username">
        <input type="email" class="form-control" name="email" placeholder="email" [(ngModel)]="user.email">
        <input type="password" class="form-control" name="password" [(ngModel)]="user.password">
        <button type="submit">SIGN UP</button>
        <div class="signupMsg">{{signupMessage}}</div>
        
      </form>

    </div>
  </div>

</div>