<div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
      <form class="form-control" (ngSubmit)="submitSignup()" #myForm="ngForm">
        <input class="form-control" name="username" [(ngModel)]="user.username">
        <input class="form-control" name="email" [(ngModel)]="user.email">
        <input class="form-control" name="password" [(ngModel)]="user.password">
        <button type="submit">SIGN UP</button>
        
      </form>

    </div>
  </div>

</div>