
html {
  line-height: 1.2 ;
  cursor: default ;
  color: inherit ;
  font-size: inherit ;
  font-family: sans;
}
body {
  margin: 0 ;
  padding: 0;
}
header {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block ;
  margin: 0 auto;
}
main {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block ;
  margin: 0 auto;
}
section {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block ;
  margin: 0 auto;
}
footer {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block ;
  margin: 0 auto;
}
nav {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block ;
  margin: 0 auto;
}
aside {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block ;
  margin: 0 auto;
}
article {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block ;
  margin: 0 auto;
}
div {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: block ;
  margin: 0 auto;
}
h1 {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 24px ;
  width: 100%;
}
h2 {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 20px ;
  width: 100%;
}
h3 {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 18px ;
  width: 100%;
}
h4 {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 16px ;
  width: 100%;
}
h5 {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 16px ;
  width: 100%;
}
h6 {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 16px ;
  width: 100%;
}
p {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px ;
  width: 100%;
}
a {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px ;
  color: inherit ;
  cursor: pointer ;
  background-color: transparent;
}
ol {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px ;
  list-style: none;
}
ul {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px ;
  list-style: none;
}
img {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
hr {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100% ;
  display: block ;
  height: 0px ;
  border-top: 1px solid #ccc ;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
form {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}
button {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px ;
  width: 100% ;
  line-height: 18px;
  border: 0 ;
  background-color: transparent;
}
button:empty:after {
  content: '\00a0';
}
button::-moz-placeholder {
  font-size: 14px;
}
button::-webkit-placeholder {
  font-size: 14px;
}
button::-ms-input-placeholder {
  font-size: 14px;
}
button::-moz-focus-inner {
  border: 0 ;
  padding: 0;
}
button::-webkit-focus-inner {
  border: 0 ;
  padding: 0;
}
button::-ms-focus-inner {
  border: 0 ;
  padding: 0;
}
input {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px ;
  width: 100% ;
  height: 18px;
  line-height: 18px;
  border: 1px solid #ccc;
}
input::-moz-placeholder {
  font-size: 14px;
}
input::-webkit-placeholder {
  font-size: 14px;
}
input::-ms-input-placeholder {
  font-size: 14px;
}
input::-moz-focus-inner {
  border: 0 ;
  padding: 0;
}
input::-webkit-focus-inner {
  border: 0 ;
  padding: 0;
}
input::-ms-focus-inner {
  border: 0 ;
  padding: 0;
}
textarea {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px ;
  width: 100% ;
  resize: none ;
  overflow-y: auto ;
  height: 54px;
  line-height: 18px;
  border: 1px solid #ccc;
}
textarea::-moz-placeholder {
  font-size: 14px;
}
textarea::-webkit-placeholder {
  font-size: 14px;
}
textarea::-ms-input-placeholder {
  font-size: 14px;
}
textarea::-moz-focus-inner {
  border: 0 ;
  padding: 0;
}
textarea::-webkit-focus-inner {
  border: 0 ;
  padding: 0;
}
textarea::-ms-focus-inner {
  border: 0 ;
  padding: 0;
}
label {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px ;
  width: 100%;
}
label.select {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px ;
  width: 100% ;
  height: 18px;
  line-height: 18px;
}
label.select select {
  height: 100% ;
  width: 100% ;
  line-height: 1 ;
  border: 0 ;
  outline: none ;
  position: absolute ;
  top: 0px ;
  left: 0px ;
  opacity: 0 ;
  -webkit-appearance: none ;
  -moz-appearance: none ;
  appearance: none ;
}
label.select select::-moz-focus-inner {
  border: 0 ;
  padding: 0;
}
label.select select::-webkit-focus-inner {
  border: 0 ;
  padding: 0;
}
label.select select::-ms-focus-inner {
  border: 0 ;
  padding: 0;
}
label.select option {
  font-size: 14px ;
  padding: 4px 7px ;
  border: 0 ;
  outline: none ;
  -webkit-appearance: none ;
  -moz-appearance: none ;
  appearance: none ;
}
label.select option::-moz-focus-inner {
  border: 0 ;
  padding: 0;
}
label.select option::-webkit-focus-inner {
  border: 0 ;
  padding: 0;
}
label.select option::-ms-focus-inner {
  border: 0 ;
  padding: 0;
}
label.checkbox {
  display: inline-block;
  position: relative ;
  margin: 0 ;
  padding: 0 ;
  outline: 0 ;
  border: 0 ;
  text-decoration: none ;
  vertical-align: top ;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 14px ;
  width: 100% ;
  height: 18px;
  line-height: 18px;
  background-color: transparent;
}
label.checkbox input {
  display: none;
}

.enlarge {
  transition: all 0.2s ease-in-out;
}

.enlarge:hover {
  transform: scale(1.1);
}

@-webkit-keyframes myloop {
  0% {
    background-size: 70px 70px;
    width: 70px 5px 70px;
    position: absolute;
    left: 250px;
  }
  100% {
    background-size: 100px 100px;
    width: 100px 5px 100px;
    position: absolute;
    left: 240px;
  }
}
/*
iscolor
isnumber
isstring
iskeyword
isurl
If you want to check if a value is in a specific unit in addition to being a number, you may use one of:

ispixel
ispercentage
isem
isunit
*/
/*font-family: 'Monoton', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Duru Sans', sans-serif;
font-family: 'Rationale', sans-serif;
font-family: 'Text Me One', sans-serif;
font-family: 'Dorsa', sans-serif;
font-family: 'Sarpanch', sans-serif;
font-family: 'Bungee Outline', cursive;
font-family: 'Dr Sugiyama', cursive;
font-family: 'Bungee Hairline', cursive;
font-family: 'Kumar One Outline', cursive;
font-family: 'Keania One', cursive;
font-family: 'Fascinate Inline', cursive;
font-family: 'Geostar Fill', cursive;
font-family: 'Nova Cut', cursive;
*/
#mobile-menu {
  display: none;
  width: 100%;
  line-height: 46px;
  background-color: #f7a745;
}
#mobile-menu a {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
}
#mobile-menu hr {
  border-top: solid 1px #ffffff;
}
body {
  background-color: #ffffff;
  font-family: 'Duru Sans';
}
body .ui-widget-header {
  border: none;
  background: #D602AC;
}
body .wsmaps {
  width: 500px;
  height: 300px;
}
body button:hover {
  cursor: pointer;
}
body header {
  height: 80px;
  background-color: #D10D27;
  font-weight: 400 ;
  font-size: arial;
  color: #ffffff;
}
body header #MENUWRAPPER {
  margin-top: 20px;
  margin-right: 40px;
  position: absolute;
  right: 5px;
}
body header #MENUWRAPPER a,
body header #MENUWRAPPER button {
  float: right;
}
body header #MENUWRAPPER a {
  color: #ffffff;
  margin-left: 50px;
  text-decoration: none;
  line-height: 42px;
}
body header #MENUWRAPPER button {
  width: 80px;
  padding: 0 20px 0 20px;
  margin-left: 5px;
  margin-right: 10px;
  background-color: #f7a745;
  border-radius: 5px;
  color: #626162;
}
body header #MENUWRAPPER button.login {
  margin-left: 60px;
}
body header #MENUWRAPPER button.signup {
  padding: 0 15px 0 10px;
}
body header #MENUWRAPPER button.profile {
  background-color: #D602AC;
}
body header #MENUWRAPPER button.editprofile {
  width: 50px;
  padding: 0 12px 0 10px;
  background-color: #626162;
}
body header #MENUWRAPPER button.editprofile a {
  color: #ffffff;
}
body header #MENUWRAPPER:after {
  content: " ";
  width: 20px;
  clear: both;
}
body header #MENUWRAPPER button.logout {
  margin-left: 50px;
}
body #HERO {
  margin: 50px 0 0 0;
}
body #HERO #imgwrapper {
  width: 60%;
  padding-bottom: 0;
  display: inline-block;
  box-sizing: border-box;
}
body #HERO #imgwrapper img {
  width: 95%;
  margin-left: 5%;
}
body #HERO #claimwrapper {
  margin-top: 80px;
  box-sizing: border-box;
  display: inline-block;
  width: 30%;
}
body #HERO #claimwrapper #claim {
  font-family: 'Duru Sans';
  text-align: right;
  padding-top: 100px;
  margin-right: 30%;
}
body #HERO #claimwrapper #claim h1 {
  font-weight: 400 ;
  font-size: 99px;
  width: 400px;
  color: #D10D27;
}
body #HERO #claimwrapper #claim h2 {
  font-weight: 400 ;
  font-size: 70px;
  width: 400px;
  color: #1B1B1B;
}
body #HERO #claimwrapper #claim .button a {
  width: 120px;
  font-family: 'Keania One';
  background-color: #D10D27;
  padding: 18px 20px 18px 20px;
  font-weight: 400 ;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 20px;
}
@media screen and (max-width: 1200px) {
  body #HERO #claimwrapper #claim {
    margin: 0;
    text-align: center;
    width: 100%;
    padding-top: 50px;
  }
  body #HERO #claimwrapper #claim .button a {
    margin-bottom: 20px;
  }
  body #HERO #claimwrapper #claim h1 {
    font-weight: 400 ;
    font-size: 80px;
  }
  body #HERO #claimwrapper #claim h2 {
    font-weight: 400 ;
    font-size: 50px;
  }
}
@media screen and (max-width: 800px) {
  body #HERO #claimwrapper #claim {
    margin: 0;
    text-align: center;
    width: 100%;
    padding-top: 50px;
  }
  body #HERO #claimwrapper #claim .button a {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 1200px) {
  body #HERO #imgwrapper {
    margin: 0;
    width: 60%;
    text-align: center;
  }
  body #HERO #imgwrapper img {
    width: 80%;
  }
  body #HERO #claimwrapper {
    margin: 0;
  }
}
@media screen and (max-width: 800px) {
  body #HERO .one-half {
    display: block;
    width: 90%;
    margin: 0 5%;
    text-align: center;
  }
  body #HERO #claimwrapper {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  body #HERO #imgwrapper {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  body #HERO #imgwrapper img {
    width: 90%;
  }
}
body #HERO  {
    @media screen and (max-width: 1000px) {
      text-align:center!important;
      }
   }
  body #HERO img {
    @media screen and (max-width: 1000px) {
      margin: 0;
      width: 100%!important;
      }
  }
body #CHOOSEWRAPPER {
  background-image: url('/assets/images/tomatoes2.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 700px;
  padding-top: 200px;
  padding-bottom: 100px;
}
@media screen and (max-width: 1200px) {
  body #CHOOSEWRAPPER {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
body #CHOOSEWRAPPER #guestwrapper {
  display: inline-block;
  width: 40%;
  min-height: 300px;
  margin-left: 10%;
  position: relative;
  left: 100px;
}
body #CHOOSEWRAPPER #guestwrapper .inner {
  text-align: center;
  background-color: #ffffff;
  width: 60%;
  border-radius: 6px;
  padding: 30px;
}
body #CHOOSEWRAPPER #guestwrapper button {
  width: 130px;
  background-color: #929494;
  padding: 14px 20px 14px 20px;
  font-weight: 400 ;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  body #CHOOSEWRAPPER #guestwrapper {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
  }
}
body #CHOOSEWRAPPER #hostwrapper {
  display: inline-block;
  width: 40%;
  margin-right: 5%;
  position: relative;
  left: -70px;
}
body #CHOOSEWRAPPER #hostwrapper .inner {
  text-align: center;
  background-color: #ffffff;
  width: 60%;
  padding: 30px;
  border-radius: 6px;
  min-height: 300px;
}
body #CHOOSEWRAPPER #hostwrapper button {
  width: 130px;
  background-color: #397d94;
  padding: 14px 20px 14px 20px;
  font-weight: 400 ;
  font-size: 16px;
  color: #ffffff;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 1200px) {
  body #CHOOSEWRAPPER #hostwrapper {
    display: block;
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
  }
}
body #CHOOSEWRAPPER h3 {
  font-weight: 400 ;
  font-size: 50px;
  font-family: 'Dorsa';
  letter-spacing: 3px;
  font-weight: bold;
}
body #CHOOSEWRAPPER p {
  font-weight: 400 ;
  font-size: 20px;
  font-family: 'Text Me One';
  line-height: 31px;
  padding-top: 20px;
}
body #BEGUESTWRAPPER {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  font-family: 'Dorsa';
  font-weight: 400 ;
  font-size: 30px;
  font-weight: bold;
}
body #BEGUESTWRAPPER .number {
  font-weight: 400 ;
  font-size: 80px;
  padding-right: 3px;
}
body #BEGUESTWRAPPER #friedegg {
  position: relative;
  top: 20px;
  left: 5px;
}
body #BEGUESTWRAPPER #chefcooking {
  position: relative;
  top: 14px;
  left: 5px;
}
body #BEGUESTWRAPPER #tools {
  position: relative;
  top:  18px;
  left: 10px;
  transform: rotate(180deg);
}
body #BEGUESTWRAPPER h2 {
  font-weight: 400 ;
  font-size: 42px;
  letter-spacing: 2px;
  font-family: 'Dorsa';
}
body #BEGUESTWRAPPER p {
  font-family: 'Text Me One';
  letter-spacing: 3px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400 ;
  font-size: 18px;
  line-height: 22px;
  padding-left: 40px;
}
body #BEGUESTWRAPPER .one-third {
  display: inline-block;
  font-weight: 400 ;
  font-size: 24px;
  margin: 0;
  width: 30%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  body #BEGUESTWRAPPER .one-third {
    display: block;
    width: 80%;
    margin: 50px 10%;
  }
}
body #DISHESWRAPPER {
  height: 500px;
  text-align: center;
  background-image: url('/assets/images/dish-selection.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
body #DISHESWRAPPER .button {
  width: 190px;
  padding: 14px 10px 14px 10px;
  font-weight: bold;
  font-weight: 400 ;
  font-size: 17px;
  font-family: 'Text Me One';
  background-color: #D10D27;
  border-radius: 3px;
  color: #ffffff;
  margin-top: 200px;
}
body #BEHOSTWRAPPER {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 1.5%;
  margin-right: 1.5%;
  font-family: 'Dorsa';
  font-weight: 400 ;
  font-size: 30px;
  font-weight: bold;
}
body #BEHOSTWRAPPER .number {
  font-weight: 400 ;
  font-size: 80px;
  padding-right: 3px;
}
body #BEHOSTWRAPPER #create-event {
  position: relative;
  top: 20px;
  left: 8px;
}
body #BEHOSTWRAPPER #cookwguests {
  position: relative;
  top: 15px;
  left: 5px;
}
body #BEHOSTWRAPPER #choose-dish {
  position: relative;
  top:  15px;
  left: 10px;
}
body #BEHOSTWRAPPER h2 {
  font-weight: 400 ;
  font-size: 42px;
  letter-spacing: 2px;
  font-family: 'Dorsa';
}
body #BEHOSTWRAPPER p {
  font-family: 'Text Me One';
  letter-spacing: 3px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400 ;
  font-size: 18px;
  line-height: 22px;
  padding-left: 40px;
}
body #BEHOSTWRAPPER .one-third {
  display: inline-block;
  font-weight: 400 ;
  font-size: 24px;
  margin: 0;
  width: 30%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  body #BEHOSTWRAPPER .one-third {
    display: block;
    width: 80%;
    margin: 50px 10%;
  }
}


